*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: 14px/1.5 Verdana, sans-serif;
    font-weight: bold;
}

body{
    border: 2px solid green;
    padding: 2em;
}

.section{
    border: 2px solid black;
    padding: 2em;
}

.section .wrapper{
    border: 2px solid blue;
    padding: 2em;
}

.section:not(:last-child){
    margin-bottom: 2em;
}