.gallery {
    justify-content: center;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.gallery li,
.gallery figure,
.gallery a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gallery figure {
    justify-content: center;
}

.gallery figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #999;
    padding: 2em 1.5em 1em;
    font-style: italic;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery li {
    flex: 0 0 300px;
    border: 4px solid #000;
    background-color: #fff;
    border-radius: 0.2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    padding: 1.5em;
    padding-bottom: 4em;
    position: relative;
}