@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>Explore our list of cinemas and movies.</p>
<p>Add your favourites and track what you've watched</p>
